<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Trap</title>
</head>
<body>
  <main>
    <header>
      <h1>Trapcards</h1>
      <p>https://example.url/<span>[trapcard name]</span></p>
    </header>
    <section>
      <% for (const image of images) { %>
        <a href="/<%= image %>" target="_blank">
          <img width="100%" src="/<%= image %>" alt="<%= image %>">
        </a>
      <% } %>
    </div>
  </main>
</body>
</html>