* {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --accent: #FFC107;
}

html, body {
  background-color: #212121;  
}

main {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

header {
  padding: 32px;
}

header h1 {
  font-size: 4rem;
  color: white;
  font-weight: 100;
}

header p {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  font-size: 1.5rem;
  font-family: monospace !important;
  color: white;
}

header p span {
  font-family: monospace;
  color: var(--accent);
}

section {
  padding: 32px;
  display: grid;
  gap: 32px;
  grid-template-columns: auto auto auto;
}

section a {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}