/* Main container */
* {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --accent: #ffc107;
}

html,
body {
  background-color: #212121;
  margin: 0;
}

html {
  font-size: 75%;
}

main {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

/* Header */
header {
  padding: 32px;
  padding-bottom: 0;
}

.title {
  font-size: 4rem;
  color: white;
  font-weight: 100;
}

.link-preview {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  font-size: 1.5rem;
  font-family: monospace !important;
  color: white;
  overflow-y: auto;
}

.link-preview span {
  font-family: monospace;
  color: var(--accent);
}

/* Cards and cards container */
section {
  opacity: 1;
  padding: 32px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(1, 1fr);
  transition: opacity 0.5s;
}

.card {
  display: block;
  position: relative;
  z-index: 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card-image {
  width: 100%;
  height: 100%;
}

.card-copy-button {
  border: none;
  appearance: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 24px;
  background-color: rgba(0, 0, 0, 0.85);
  text-transform: uppercase;
  font-weight: thin;
  font-size: 1.75rem;
  font-family: monospace;
  letter-spacing: 2px;
  opacity: 1;
  width: 100%;

  transition: opacity 0.15s;
}

.card:hover .card-copy-button {
  opacity: 1;
}

/* Footer */
footer {
  padding-bottom: 24px;
}

.footer-text {
  text-align: center;
  font-size: 1rem;
  color: white;
  font-weight: 100;
}

.footer-emoji {
  vertical-align: middle;
}

.footer-link {
  color: var(--accent);
}

/* Media queries */
@media (min-width: 600px) {
  section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  html {
    font-size: 100%;
  }
  section {
    grid-template-columns: repeat(3, 1fr);
  }
  .card-copy-button {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}